body {
            background-color: #132538;
            color: white;
        }


.spacer {
     padding-top: 20px;
     padding-bottom: 20px;
 }


.btn-outline-success {
    color: orange;
    border-color: orange;
    --bs-btn-color: white;
    --bs-btn-border-color: white;
    --bs-btn-colour: white;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-bg: orange;
    --bs-btn-active-border-color: orange;
}


.btn-success {
    color: orange;
    border-color: orange;
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: orange;
    --bs-btn-active-border-color: orange;
}



